.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  border: 1px solid black;
  padding: 20px;
  gap: 10px;
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  border: 1px solid black;
  padding: 20px;
  gap: 10px;
}
.logo {
  width: 12;
  height: 12;
  align-items: left;
}
.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.header {
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #ffc405;
}
.vid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-items: center;
}
.menuItems {
  padding-top: 50px;
  text-align: center;
  font-family: serif;
}

.mapouter {
  display: flex;
  font-family: serif;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
}

.gmap_canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  background: none !important;
  border: 3px solid black;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.techStack {
  padding-top: 5%;
  text-align: center;
  font-family: serif;
  font-size: x-large;
}
.techStack2 {
  padding-top: 5%;
  text-align: center;
  font-family: serif;
  font-size: small;
}
.order {
  font-family: serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  gap: 5px;
  background-color: rgb(255, 244, 213);
}
.profile {
  text-align: center;
  font-family: serif;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

  padding: 20px;
  gap: 0px;
  background-color: rgb(255, 245, 203);
}
